@charset: "utf-8";

/** animation **/
@-webkit-keyframes greenPulse {
    from { background-color: #749a02; -webkit-box-shadow:: 0 0 9px #333; }
    50% { background-color: #91bd09; -webkit-box-shadow:: 0 0 18px #91bd09; }
    to { background-color: #749a02; -webkit-box-shadow:: 0 0 9px #333; }
}

.green.button {
    -webkit-animation-name: greenPulse;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

/** media query import **/
@import url(color.css) screen and (color);

/** media query **/
@media all and (min-width:500px) {
    .big {
      font-size:120%;
    }
}

@media screen and (color), projection and (color) {
    .big {
        font-size:120%;
    }
}
