/*
 * css hack ref:
 * http://centricle.com/ref/css/filters/?highlight_columns=true
 */
.test {
    _display:none;
    *line-height:1.5;
    d\isplay:none;
    font-size: 11pt\0;
}

html*.test {
    display:none;
}

html>/**/body hr{margin:7px 0 0 0;}

