
/****tag optimization start****/
body{background-color:#fff;color:#000;line-height:16px}
body,td{margin:0px;font-family:ËÎÌå}
body,td,select,input,textarea{font-size:12px}
dl,ul{list-style:none}
form,dl,ul,dl dd,ul li{margin:0px;padding:0px}
img{border:0px}
h1,h2,h3{font-size:14px;margin:0px}
p{margin:0px;padding-top:7px;line-height:18px;word-wrap:break-word;overflow:hidden}
/****tag optimization end****/

/****link start****/
.white{color:#fff}
.black{color:#000}
.gray{color:#666}
.orange{color:#ff7300}


a:link,a:visited{color:#003278;text-decoration:none}
.white a:link,.white a:visited{color:#fff}
.black a:link,.black a:visited{color:#000}
.gray a:link,.gray a:visited{color:#666}
.orange a:link,.orange a:visited{color:#ff7300}
a:hover,.white a:hover,.black a:hover,.gray a:hover,.orange a:hover{color:#ff7300;text-decoration:underline}

.lk_l a{text-decoration:underline !important}			
														/*		LinK  _ text-decoration:underLine	*/
.lk_n a{text-decoration:none !important}				
														/*		LinK  _ text-decoration:None		*/
/****link end****/

/****for testing start****/
.bd{border:1px solid #f00}								
														/*		BorDer			*/
.bg{background:#f00}									
														/*		BackGround      */
ul.lb li{border:1px solid #f00}							
														/*		ul Li Border	*/
/****for testing end****/

/****common start****/
.clr{clear:both}
.cl{clear:both;overflow:hidden;+display:inline;}
.c{clear:both;overflow:hidden;+overflow:visible;}		
														/*		Clear:both      */
.l{float:left !important;display:inline}				
														/*		float Left      */
.r{float:right !important;display:inline}				
														/*		float Right     */
.f{width:100%}											
														/*		Fullwidth       */
.z{zoom:1}												
														/*		Zoom:1			*/	
.h{width:50%;+width:49.99%;overflow:hidden}								
														/*      Halfwidth		*/
.t{width:33.333%;+width:33.2%;overflow:hidden}
														/*      Third - one of three	*/
.b{font-weight:bold}									
														/*      Bold			*/
.f12{font-size:12px}									
														/*      Font-size:12px   	*/
.f14{font-size:14px}									
														/*      Font-size:14px   	*/
.f16{font-size:16px}									
														/*      Font-size:16px   	*/	

.pa{position:absolute}									
														/*      Position:Absolute	*/
.pr{position:relative}									
														/*      Position:Relative	*/
.db{display:block}										
														/*      Display:Block		*/

.dib{display:-moz-inline-box;-moz-box-align:stretch;+display:inline-block}
.dib{+display:inline}
@media all and (min-width: 0px){ .dib{display:inline-block} }			
														/*      Display:Inline-Block		*/
	
.vh{visibility:hidden}									
														/*      Visibility:Hidden	*/
.dn{display:none !important}							
														/*      Display:None		*/
.in{float:left;display:inline;margin-left:4px;margin-top:4px;width:16px;height:10px;overflow:hidden;
background:url(http://img.china.alibaba.com/images/cn/home/070214/new_l.gif) no-repeat}			
														/*      Icon New			*/
.ih{float:left;display:inline;margin-left:4px;margin-top:4px;width:16px;height:10px;overflow:hidden;
background:url(http://img.china.alibaba.com/images/cn/home/070214/hot_l.gif) no-repeat}
														/*      Icon Hot			*/
.ia{background:url(http://img.china.alibaba.com/images/cn/home/070215/right_org_arrow.gif) 5px center no-repeat;padding-left:14px;padding-right:7px}
														/*      Icon Arrow			*/
.oh{overflow:hidden}									
														/*      Overflow:Hidden		*/
.tc{text-align:center}									
														/*      Text-align:Center	*/
.tr{text-align:right}									
														/*      Text-align:Right	*/
.bn{border:none !important}								
														/*      Border:None			*/

.b_1{border:1px solid #B8B8B8}							
														/*      Border		type_ [1]      */
.bt_1{border-top:1px solid #ff7300}						
														/*      Border-Top	type_ [1]      */
.bt_2{border-top:1px dashed #CCC}						
														/*      Border-Top	type_ [2]      */
.bt_3{border-top:1px dashed #FFB980}					
														/*      Border-Top	type_ [3]      */
.bl_1{border-left:1px dashed #CCC}						
														/*      Border-Left	type_ [1]      */
.bg_1{background-color:#FFF1E6}							
														/*      Background	type_ [1]      */
.bg_2{background-color:#F0F0F0}							
														/*      Background	type_ [2]      */
.bg_3{background-color:#9ACD68}							
														/*      Background	type_ [3]      */

.o_1{opacity:.7;filter:alpha(opacity=70)}				
														/*      Opacity		type_ [1]      */

.l25{line-height:25px}									
														/*      Line-height	[25]px	       */
.l23{line-height:23px}									
														/*      Line-height	[23]px	       */
.l20{line-height:20px}									
														/*      Line-height	[20]px	       */
.l17{line-height:17px}									
														/*      Line-height	[17]px	       */
.ti{text-indent:28px}
														/*      Text-Indent	[28]px	       */


.nw{word-break:keep-all;white-space:nowrap;overflow:hidden}		
														/*  No Wrap	 */
.bw{word-wrap:break-word;overflow:hidden}						
														/*  Break Word  */				
/****common end****/

/****layout start****/
.ma{margin-left:auto;margin-right:auto}					
														/*      MArgin		auto			*/
.w778{width:778px;margin-left:auto;margin-right:auto}	
														/*      Width		[778]px			*/
.w952{width:952px;margin-left:auto;margin-right:auto}	
														/*      Width		[952]px			*/
.layer{width:960px;padding:0px 0px 0px 8px;margin-left:auto;margin-right:auto;margin-top:8px}
.tube{float:left;_display:inline;margin-right:8px;}
.block{margin-bottom:8px;zoom:1}
/****layout end****/

/****for ul list start****/
ul.lzb,ul.lzl,ul.ll23,ul.ll20,ul.ll,ul.lr{zoom:1}
ul.lzb li{zoom:1;+margin-bottom:-4px}								
																	/*  ul Li Zoom:1 margin-Bottom:-4px				*/
ul.lzl li{zoom:1;+margin-left:-16px}								
																	/*  ul Li Zoom:1 margin-Left:-16px				*/
ul.ll20 li{line-height:20px;height:20px;+margin-bottom:-4px}		
																	/*  ul Li Line height	[20]px  */
ul.ll23 li{line-height:23px;height:23px;+margin-bottom:-4px}		
																	/*  ul Li Line height	[23]px  */
ul.ll25 li{line-height:25px;height:25px;+margin-bottom:-4px}		
																	/*  ul Li Line height	[23]px  */
ul.li20 li{background:url(http://img.china.alibaba.com/images/cn/home/070215/d_ico.gif) 5px 7px no-repeat;
padding-left:15px}										
																	/*  ul Li Icon for height [20]px							*/	
ul.li23 li{background:url(http://img.china.alibaba.com/images/cn/home/070215/d_ico.gif) 5px 10px no-repeat;
padding-left:15px}		
																	/*  ul Li Icon for height [23]px							*/
ul.li25 li{background:url(http://img.china.alibaba.com/images/cn/home/070215/d_ico.gif) 5px 12px no-repeat;
padding-left:15px}
																	/*  ul Li Icon for height [25]px							*/
ul.ll li{float:left;display:inline}						
																	/*  ul Li float Left										*/
ul.lr li{float:right;display:inline}					
																	/*  ul Li float Right										*/
ul.ldl li{display:inline}								
																	/*  ul Li Display:inLine									*/
ul.lbt li{border-top:1px dashed #CCC}					
																	/*  ul Li Border-Top										*/
ul.lbl li{border-left:1px solid #000;padding:0px 9px}					
																	/*  ul Li Border-Left										*/	

/****for ul list end****/

/****for margin control start****/
.h1p{+height:1%}											
														/*  Height	[1]Percent using for bug repairing				*/
.h1{height:1px;overflow:hidden}							
														/*  Height	[1]px	using for space filling with margin-top */
.h16{height:16px}										
														/*  Height	[16]px	using for space filling with margin-top */
.h17{height:17px}										
														/*  Height	[17]px	using for space filling with margin-top */
.h23{height:23px}										
														/*  Height	[23]px	using for space filling with margin-top */

.m1{margin:1px}											
														/*  Margin			[1]px */
.m7{margin:7px;margin-bottom:0px}						
														/*  Margin			[7]px */
.m14{margin:14px;margin-bottom:0px}						
														/*  Margin		   [14]px */
.ml3{margin-left:3px}									
														/*  Margin-Left		[3]px */
.ml5{margin-left:5px}									
														/*  Margin-Left		[5]px */
.ml7{margin-left:7px}									
														/*  Margin-Left		[7]px */
.ml9{margin-left:9px}									
														/*  ...					  */
.ml14{margin-left:14px}
.ml21{margin-left:21px}
.mr3{margin-right:3px}
.mr5{margin-right:5px}
.mr7{margin-right:7px}
.mr9{margin-right:9px}
.mr14{margin-right:14px}
.mr21{margin-right:21px}
.mt1{margin-top:1px}
.mt3{margin-top:3px}
.mt5{margin-top:5px}
.mt7{margin-top:7px}
.mt9{margin-top:9px}
.mt11{margin-top:11px}
.mt14{margin-top:14px}
.mt21{margin-top:21px}
.mt28{margin-top:28px}									
														/*  				...  */
.p7{padding:7px}										
														/*  Padding			[7]px */
.pl7{padding-left:7px}									
														/*  Padding-Left	[7]px */
.pr7{padding-right:7px}									
														/*  Padding-Right	[7]px */
.pt7{padding-top:7px}									
														/*  Padding-Top		[7]px */		
.pt9{padding-top:9px}									
														/*  Padding-Top		[9]px */		
.pt11{padding-top:11px}									
														/*  Padding-Top		[11]px */	
.p14{padding:14px}										
														/*  Padding			[14]px */
.pt14{padding-top:14px}									
														/*  Padding-Top		[14]px */
.pl14{padding-left:14px}								
														/*  Padding-Left	[14]px */
.pr14{padding-right:14px}								
														/*  Padding-Right	[14]px */
/****for margin control end****/




body{line-height:normal}
.w952{background:#E3E3E3}
.mg{margin-left:auto;margin-right:auto;}
.m14{margin:14px;}
.white{color:#fff}
.white a:link, .white a:visited{color:#fff}
.white a:hover{color:#ff7300;text-decoration:none;}
ul.lbl_1 li{border-left:1px solid #000}	
ul.ll,ul.lr {zoom:normal !important}
.clr{clear:both}
.bt_1{border-top:1px solid #B8B8B8}
.left{float:left;}
.right{float:right;}
.s{font-size:12px}
.m{font-size:14px}
.g{font-size:16px}
.ds_b{display:block}
.ds_n{display:none !important}
.picRotate {position:relative;border:1px solid #B8B8B8;background:#fff;line-height:17px;}
/* pic container start */
.ttsty_b{display:block;padding-bottom:9px;text-align:center;font-size:14px;font-weight:bold}
.ttsty_b img {display:block;border:1px solid #ccc;margin:7px 7px 14px 7px;}

.ttsty_a{display:block;padding-bottom:5px;text-align:center;font-size:12px;}
.ttsty_a img {display:block;border:1px solid #ccc;margin:7px 7px 5px 7px;}
/* pic container end */
/* switch pic button part start */
ul.lileft li{float:left;display:inline}
.slpic{position:absolute;right:8px;bottom:40px;z-index:3;}
.slpic .po_a{position:absolute}
.slpic li{position:relative;width:24px;height:15px;height:16px;text-align:center;cursor:pointer;}
.slpic li.sp{width:1px;overflow:hidden;color:#fff;background:#fff;filter:alpha(opacity:60);-moz-opacity:.6;opacity:.6}
.slpic li .op{height:100%;background:#000;filter:alpha(opacity:60);-moz-opacity:.6;opacity:.6}
.slpic li .po_a{width:24px;color:#fff;font-weight:normal;left:0px;top:0px;text-align:center;padding-top:1px;+padding-top:2px;}
.slpic li.hov .op{background:#f00;filter:alpha(opacity:80);-moz-opacity:.8;opacity:.8}
.slpic li.hov .po_a{color:#fff;font-weight:bold;}
/* switch pic button part end */
.dbico div{width:8px;height:8px;border:1px solid #E3E3E3}
.dbico span{display:block;margin:-6px 0px 0px 3px;width:8px;height:8px;border:1px solid #E3E3E3}

.tgb{width:3px;height:10px;margin:0px;margin-left:3px;background:#FF8002}
.line{background:#fff}
ul.lpic li{border:1px solid  #B8B8B8;background:#fff;line-height:17px;margin:7px 11px 7px 0px;}
ul.lpic li.pictt{float:left;width:16px;padding:10px 4px 20px 7px;font-size:14px;font-weight:bold;border:none;background:#E3E3E3 url(http://img.china.alibaba.com/images/info/1/mag_tline_t.gif) bottom left no-repeat;line-height:23px;margin:0px;}
.tline_b{background:url(http://img.china.alibaba.com/images/info/1/mag_tline_b.gif) repeat-y}

.ttsty{height:29px;background:url(http://img.china.alibaba.com/images/info/1/mag_tt_02.gif);border-bottom:1px solid #CBCBCB}
.ttsty_lt {height:23px;padding-top:6px;width:104px;padding-left:17px;color:#fff;font-size:16px;font-family:ºÚÌå;background:#029C27 url(http://img.china.alibaba.com/images/info/1/mag_tarr_02.gif) right no-repeat}
.ttsty_tt {line-height:23px;padding-top:6px;padding-left:50px;font-size:12px;}
.ttsty_rt {height:100%;width:2px;background:url(http://img.china.alibaba.com/images/info/1/mag_rt_02.gif)}

.tlsty{height:15px;background:url(http://img.china.alibaba.com/images/info/1/mag_bg_01.gif) repeat-x}
.tlsty_lt {background:#E3E3E3}
.tlsty_tt {background:#E3E3E3;padding-left:5px;font-size:14px;font-weight:bold;}
.tlsty_rt {background:#E3E3E3;padding-top:2px;}

.tisty{height:22px;border:1px solid #B7B7B7;background:url(http://img.china.alibaba.com/images/info/1/mag_bg_02.gif)}
.tisty_lt{width:3px;height:100%;background:#FF8316}
.tisty_tt{height:auto;margin-left:10px;margin-top:4px;font-size:14px;font-weight:bold;background:none}
.tisty_rt{width:auto;height:auto;margin-right:7px;margin-top:6px;font-size:12px;background:none}

#hd_lay_02 .ttsty_lt{background:#029C27 url(http://img.china.alibaba.com/images/info/1/mag_tarr_02.gif) right no-repeat}
#hd_lay_03 .ttsty_lt{background:#983202 url(http://img.china.alibaba.com/images/info/1/mag_tarr_03.gif) right no-repeat}
#hd_lay_04 .ttsty_lt{background:#F88300 url(http://img.china.alibaba.com/images/info/1/mag_tarr_04.gif) right no-repeat}
#hd_lay_05 .ttsty_lt{background:#027693 url(http://img.china.alibaba.com/images/info/1/mag_tarr_05.gif) right no-repeat}
#hd_lay_06 .ttsty_lt{background:#9C0277 url(http://img.china.alibaba.com/images/info/1/mag_tarr_06.gif) right no-repeat}
#hd_lay_07 .ttsty_lt{background:#026097 url(http://img.china.alibaba.com/images/info/1/mag_tarr_07.gif) right no-repeat}

#navigation {height:34px;background:url(http://img.china.alibaba.com/images/info/1/mag_tt_01.gif);}
#navigation .nav_lt {height:100%;width:2px;background:url(http://img.china.alibaba.com/images/info/1/mag_lt_01.gif)}
#navigation .nav_rt {height:100%;width:2px;background:url(http://img.china.alibaba.com/images/info/1/mag_rt_01.gif)}
#navigation ul{margin-left:150px;}
#navigation ul li {line-height:18px;margin:10px 0px 0px 0px;padding:0px 22px;border-right:2px solid #fff;}
#navigation ul li.hov {height:24px;padding-top:4px;color:#000;background:#fff;margin-top:6px;margin-left:-2px;border-right:none;}
#navigation ul li.hov a{color:#000;}
#navigation_sub{width:950px;height:26px;border:1px solid #CCC;border-top:none;background:#fff;font-size:14px;}
#navigation_sub ul{margin-left:270px}
#navigation_sub ul li{padding:0px 19px 0px 19px;border-left:1px solid #000}

#hd_lay_lf_01 {width:688px;margin:6px 0px 0px 10px}
#hd_lay_lf_01 ul.lpic li{margin:0px 4px 5px 16px;}
#hd_lay_rg_01 {width:240px;}
#hd_lay_rg_01 .lzb img{margin:5px 7px 0px 7px;}

#hd_lay_lf_02{width:727px;border-top:1px solid #fff;border-right:1px solid #fff}
#hd_lay_lf_02 .tgb{background:#018C29}
#hd_lay_lf_02 ul.lpic li{float:left;margin:8px 8px 8px 10px;}
#hd_lay_rg_02{width:208px;border-top:1px solid #fff}
#hd_lay_rg_02 .tlsty_lt .bg{background:#018C29}

#hd_lay_03 ul.lpic li{margin:0px 11px 7px 0px;}
#hd_lay_03 .tlsty_lt .bg{background:#833201}
#hd_lay_lf_03{width:238px}
#hd_lay_md_03, #hd_lay_rg_03{width:356px;border-left:1px solid #fff}
#hd_lay_rg_03 ul.lpic li{float:left;margin:5px 14px}
#hd_lay_md_03 ul.lpic li{float:left;margin:5px 14px}

#hd_lay_lf_04{width:573px}
#hd_lay_lf_04 ul.lpic li{float:left;margin-right:5px}
#hd_lay_lf_04 ul.lpicdown li{width:256px;padding-left:7px;margin:0px 5px 7px 0px;}
#hd_lay_rg_04{width:378px;border-left:1px solid #fff}
#hd_lay_rg_04 ul.lpic li{float:left;margin:8px 5px 8px 10px;}

#hd_lay_rg_05 {width:713px;border-left:1px solid #fff}
#hd_lay_rg_05 ul.lpic li{float:left;margin:8px 0px 8px 24px;}

#hd_lay_06 ul.lpic li{float:left;margin:7px 0px 7px 32px;}

#hd_lay_07 ul.lpic li{float:left;margin:7px 0px 7px 32px;border:0px;}
#hd_lay_07 ul.lpic li div{background:#fff;border:1px solid #B8B8B8;line-height:17px}

#hds_lay_lf_01 {width:677px;overflow:hidden;border-right:1px solid #B8B8B8;}
#hds_lay_lf_01 .bg_1{background:#fff;border:1px solid #B8B8B8}
#hds_lay_lf_01 ul.lpic{width:191px;}
#hds_lay_lf_01 ul.lpic li{margin:0px;}
#hds_lay_lf_01 .r ul{width:259px;}
#hds_lay_rg_01 {width:240px}
#hds_lay_rg_01 .lzb img{margin:5px 7px 0px 7px;}

#hds_lay_02 ul.lpic li{margin:0px 25px 7px 0px;}

#hds_lay_03 ul.lpic li{margin:0px 24px 7px 0px;}

#hds_lay_04 ul.lpic li{background:transparent;border:none;;margin:7px 23px 7px 0px;}
#hds_lay_04 ul.lpic li div{background:#fff;border:1px solid #B8B8B8;margin-bottom:7px;line-height:17px}
#hds_lay_04 ul.lpic li{line-height:20px;}

#hds_lay_lf_11 {width:682px;}
#hds_lay_lf_11 ul.lpic li{background:transparent;border:none;;margin:7px 14px 14px 0px;}
#hds_lay_lf_11 ul.lpic li div{background:#fff;border:1px solid #B8B8B8;margin-bottom:7px;line-height:17px}
#hds_lay_lf_11 ul.lpic li{line-height:20px;}
#hds_lay_rg_11 {width:240px}
#hds_lay_rg_11 .lzb img{margin:5px 7px 0px 7px;}